<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contrato"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-title size="large">Pago</ion-title>

  <ion-button class="transferencia" >
    <img src="../../assets/images/pagar/transferencia.png" alt="transferencia">
  </ion-button>


  <ion-button class="webpay" >
    <img src="../../assets/images/pagar/webpay.png" alt="webpay">
  </ion-button>


</ion-content>
