<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plasticos"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">



    <p>
      <br> 
      1 PET (Tereftalato de polietileno) 
      <br>
      Uno de los plásticos más 
      comunes, está presente en botellas, vasos y contenedores de comida <br>
      preparada. Representa más de la mitad de los plásticos que se 
       generan en los hogares. 
       <br>
       Es fácil de reciclar
      </p>
      <div class="PET1">
        <img src="../../assets/images/plasticos/pet1.png" alt="pet1">
      </div>


    
    <p>2 HDPE (Tereftalato de alta densidad)
      <br>
      Se encuentra en champús, botellas de 
      detergente y tuberías.  Aunque menos común que el PET, 
      lo puedes reconocer porque los envases nunca son transparentes y 
      tienen una línea en su base.
      <br>
      Es fácil de reciclar
    </p>
    <div class="HDPE2">
      <img src="../../assets/images/plasticos/hdpe2.png" alt="hdpe2">
    </div>

</ion-content>
