<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-title>Reciclaje de vidrio</ion-title>

<ion-card class="info-card">
  <ion-card-content>
    <p>Para poder llevar a reciclar principalmente las botellas de 
      vidrio, estas ya sean de jugo, bebida, agua, cerveza, destilados,
      vino y/o espumantes.<br><br>
      Se debe realizar el siguiente procedimiento:
    </p>
    <ul>
      <li>Enjuagar y/o lavarlas una vez vacias</li>
      <li>Secarlas o dejas estilando</li>
      <li>Apilarlas en una caja ya sea de plastico o carton para llevarla al punto limpio</li>
      <li>En caso de que se hayan roto se recomienda llevarlas dentro
        de una caja de carton para evitar cortes</li>
    </ul>
  </ion-card-content>
</ion-card>


<div class="botellasdevidrio">
    <img src="../../assets/images/vidrio/botellasvidrio.png" alt="Botellasvidrio">
</div>


</ion-content>
