<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-title>Nuestros servicios</ion-title>
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" routerLink="/servicio1" class="service-button">
        Servicio 1
      </ion-button>
      <ion-button expand="block" routerLink="/servicio2" class="service-button">
        Servicio 2
      </ion-button>
      <ion-button expand="block" color="success" routerLink="/escoger-servicio" class="contract-button">
        Contrata aquí nuestro servicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
