<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plasticos"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

      <p>3 PVC (Cloruro de polivinilo)
        <br>
        Presente principalmente en tuberías. 
        <br>
        Este plástico no se recicla comúnmente en Chile.
        </p>
        <div class="PVC3">
          <img src="../../assets/images/plasticos/pvc3.png" alt="pvc3">
        </div>



      
      <p >6 PS (Poliestireno)
        <br>
        Plástico versátil, usado para muchos productos <br> y envases de 
        alimentos, como el yogurt. En <br> su versión expandida, es comúnmente 
        <br> conocido como plumavit.
        <br>
        Es muy poco reciclable en Chile, aunque algunas empresas como 
        Soprole han habilitado puntos limpios para circularizar este 
        plástico. También han surgido algunas iniciativas de reciclaje de 
        plumavit.
      </p>
      <div class="PS6">
        <img src="../../assets/images/plasticos/ps6.png" alt="ps6">
      </div>

      <p>7 Otros (Todas las demás resinas de plástico o mezclas)
        <br>
        Ampliamente utilizado en productos médicos, <br> juguetes y, 
        en algunos casos, en contenedores <br> flexibles de comida.
        <br>
        Al ser una mezcla de polímeros, es decir, <br> una fusión de 
        distintos tipos de plásticos, es <br> muy compleja su 
        reciclabilidad. 
      </p>
      <div class="OTHER7">
        <img src="../../assets/images/plasticos/other7.png" alt="other7">
      </div>



  
</ion-content>
