<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plasticos"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

    <p>
      <br> 
      4 LDPE (Polietileno de baja densidad) 
      <br>
      Principalmente usado para fabricar bolsas, film <br> plástico y 
      envases flexibles de alimentos como pan <br> de molde, congelados y 
      arroz. Lo puedes reconocer porque es suave al tacto y se extiende.
      Si bien <br> es reciclable, no se recibe en muchos puntos limpios, <br> aunque 
      en algunas comunas se incorpora al <br> contenedor de reciclaje. <br>
      Este plástico no se recicla comúnmente en Chile. 
      </p>
      <div class="LDPE4">
        <img src="../../assets/images/plasticos/ldpe4.png" alt="ldpe4">
      </div>

    
    <p>5 PP (Polipropileno)
      <br>
      Es el segundo plástico más común después del PET, y es el material 
      que se utiliza para la mayoría de los envases de comida.
      <br>
      Este plástico no se recicla comúnmente en Chile. Sin embargo, en 
      su formato rígido es recibido por varios gestores, en su versión 
      flexible, en cambio, su reciclaje no es tan masivo, aunque en 
      algunas comunas se incorpora al contenedor de reciclaje.
    </p>
    <div class="PP5">
      <img src="../../assets/images/plasticos/pp5.png" alt="PP5">
    </div>

</ion-content>
