<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-title>Reciclaje de pilas</ion-title>

<ion-card class="info-card">
  <ion-card-content>
    <p>Para reciclar pilas alcalinas, estas deben estar completamente 
      descargadas y sin signos de sulfatación 
      (cristales que están sobre las placas de positivos y/o 
      negativo). En el caso de las pilas recargables, estas 
      ya no reciben carga y tampoco deben mostrar signos de 
      sulfatación. Cuando las lleves a un punto de reciclaje 
      se deben llevar en una caja de cartón o en una botella 
      de plástico reciclable.

      Tipos de pilas:</p>
    <ul>

      <li>Pilas AA</li>
      <li>Pilas AAA</li>
      <li>Pilas de boton (reloj, calculadora, punteros laser)</li>
      <li>Pilas tipo D</li>
      <li>Pilas 9V</li>
      
    </ul>
  </ion-card-content>
</ion-card>

<div class="conjuntopilas">
  <img src="../../assets/images/Pilas/conjuntopilas.png" alt="Conjuntopilas bin">
</div>

</ion-content>
