<ion-app>
  <ion-toolbar *ngIf="showMenu">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-menu id="mainMenu" side="start" contentId="main-content" type="overlay" [disabled]="menuDisabled" >
    
    <ion-content  >
      <div style="background-color: #7FC15E; padding: 10px; text-align: center; font-weight: bold; color: rgb(0, 0, 0);">
        Nombre Usuario
      </div>

      <ion-item routerLink="/perfil" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Perfil
      </ion-item>

      <ion-item routerLink="/home" lines="none">
        <ion-icon name="leaf-outline" slot="start"></ion-icon>
        Como reciclar
      </ion-item>

      <ion-item routerLink="/punto-reciclaje" lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        Puntos de reciclaje
      </ion-item>

      <ion-item routerLink="/nuestros-servicios" lines="none">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        Nuestros servicios
      </ion-item>

      <ion-item (click)="onLogoutClick()" lines="none">
        <ion-icon name="power-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-item>
  
    </ion-content>
  </ion-menu>
  
  <!-- Contenido Principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
  <!-- colocar api de google maps -->
</ion-app>
