/* CSS DEL MENU DESPLEGABLE */

ion-menu-button {
    --color: rgb(0, 0, 0);
  }
  
  ion-menu {
    --width: 70%;
    --background: #7FC15E;
    --border-color: #7FC15E;
  }
  
  ion-menu ion-content {
    --background: #7FC15E;
    --border-color: #7FC15E;
  }
  
  ion-header {
    --background: #7FC15E;
    --color: white;
  }
  
  ion-toolbar {
    --background: #ffffff;
  }
  
  /* CSS DEL HOME */
  .background {
    --background: #ffffff;
    display: flex;
  }
  
  /* Estilos para dispositivos pequeños (por defecto) */
  .Perfil {
    margin-top: 50px;
  }
  
  .cerrar-sesion {
    margin-top: 100px;
  }
  
  /* Estilos para dispositivos medianos */
  @media (min-width: 601px) and (max-width: 900px) {
    .Perfil {
      margin-top: 80px;
    }
  
    .cerrar-sesion {
      margin-top: 150px;
    }
  }
  
  /* Estilos para dispositivos grandes */
  @media (min-width: 901px) {
    .Perfil {
      margin-top: 100px;
    }
  
    .cerrar-sesion {
      margin-top: 200px;
    }
  
    ion-menu {
      --width: 30%;
    }
  }
  
  /* Estilizado para <ion-item> dentro del menú */
  ion-menu ion-item {
    --color: rgb(0, 0, 0); /* Color de texto */
    --background: #7FC15E; /* Color de fondo */
    --ripple-color: rgba(255, 255, 255, 0.1); /* Color del efecto al hacer click */
    --border-color: #7FC15E; /* Color del borde */
    padding: 14px 20px;
    display: flex;
    align-items: center;
  }
  
  ion-menu ion-item:hover {
    --background: #68A249; /* Un color un poco más oscuro al pasar el mouse */
  }
  
  ion-menu ion-item ion-icon {
    color: rgb(255, 255, 255); /* Color de los íconos */
    margin-right: 10px;
  }
  
  ion-menu ion-item.cerrar-sesion ion-icon[name="power-outline"] {
    color: rgb(255, 0, 0); /* Color rojo específico para el ícono "power-outline" de "Cerrar sesión" */
  }
  