<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-title>Reciclaje de latas</ion-title>

<ion-card class="info-card">
  <ion-card-content>
    <p>Pasos para reciclar tanto latas de conserva como de bebéstibles:</p>
    <ul>
      <li>Quitar los restos de líquido o comida y etiqueta
         en caso de que estas tengan (puedes utilizar esponja o 
         cepillo para los residuos).</li>
      <li>Enjuagar, escurrir y secar.</li>
      <li>Si es una lata en conserva dejar la tapa de la lata 
        hacia adentro para evitar cortes y si es una lata de 
        bebéstible aplastarla.</li>
      <li>No mezclar las latas de conserva con las de bebéstibles.</li>
    </ul>
  </ion-card-content>
</ion-card>


<div class="recicla">
    <img src="../../assets/images/latas/conjuntolatas.png" alt="Recycle bin">
</div>

</ion-content>
