ion-header {
    background: #d6d6d6 !important;
}

ion-toolbar {
    --background: #d6d6d6;
}

ion-back-button{
    color: #000;
}

ion-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-top: 15px; // Un pequeño margen superior para dar espacio
}

.background {
    --background: #d6d6d6;
}

.info-card {
    max-width: 100%;
    width: 90%;
    margin: 2px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    --background: #7a7a7a;
    --box-shadow: none;
    color: #ffffff;
    margin-top: 30px;
    position: relative; // Añadido para posicionar las imágenes con respecto a esta tarjeta

    ion-card-content {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        padding: 5px;

        p {
            font-size: 15px;
        }

        ul {
            list-style-type: disc;
            padding-left: 1px;

            li {
                font-size: 15px;
            }
        }
    }
}

.recicla {
    position: absolute; // Ajuste para posicionarlo correctamente
    bottom: 20px; // Ajustado para que quede en la parte inferior
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.recicla img {
    max-width: 100%; 
    height: auto;
}


