<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">
  <ion-card>
      <ion-card-header>
        <ion-card-title>Editar Perfil</ion-card-title>
      </ion-card-header>

      <div *ngIf="datosCliente">
        <ion-card-content>

          <div class="nombre">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="datosCliente.nombre" #nombreInput disabled>
            <button (click)="habilitarEdicion('nombre')">Editar</button>
            <button (click)="guardarCambios('nombre')">Aceptar</button>
          </div>

          <div class="apellido">
            <label>Apellido:</label>
            <input type="text" [(ngModel)]="datosCliente.apellido" #apellidoInput disabled>
            <button (click)="habilitarEdicion('apellido')">Editar</button>
            <button (click)="guardarCambios('apellido')">Aceptar</button>
          </div>

          <ion-select [(ngModel)]="comunaSeleccionada">
            <div *ngIf="modoEdicion; else vistaNormal">
              <div class="comuna">
                <ion-label position="stacked">Comuna</ion-label>
                <ion-select formControlName="comuna_id">
                  <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.comuna_id">
                    {{ comuna.nombre }}
                  </ion-select-option>
                </ion-select>
              </div>
              <button (click)="guardarCambios('comuna')">Aceptar</button>
            </div>
            
            <ng-template #vistaNormal>
              <div class="comuna">
                <ion-label>Comuna</ion-label>
                <ion-input type="text" [value]="datosCliente.comuna" disabled></ion-input>
              </div>
              <button (click)="habilitarEdicion('comuna')">Editar</button>
            </ng-template>
          </ion-select>

          <div class="input-container">
            <ion-label for="password">Contraseña</ion-label>
            <ion-input id="contraseña" [type]="passwordType"  placeholder="Hola.2023"></ion-input>
            <ion-icon name="eye-outline" class="toggle-password" (click)="togglePassword()"></ion-icon>
          </div>

          <div class="input-container">
            <ion-label for="newPassword">Nueva Contraseña</ion-label>
            <ion-input id="newPassword" [type]="newPasswordType" placeholder="Hola.2023"></ion-input>
            <ion-icon name="eye-outline" class="toggle-password" (click)="toggleNewPassword()"></ion-icon>
          </div>

          <ion-button expand="block" color="success">Confirmar</ion-button>
        </ion-card-content>
      </div>
    </ion-card>
</ion-content>
