<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">
  <ion-card>
      <ion-card-header>
        <ion-card-title>Editar Perfil</ion-card-title>
      </ion-card-header>

      <div *ngIf="datosCliente">
        <ion-card-content>
          <div class="nombre">
            <!-- Mostrar solo el label y botón de editar cuando no esté en modo de edición -->
            <label *ngIf="!modoEdicionNombre">Nombre: {{ datosCliente.nombre }}</label>
            <button *ngIf="!modoEdicionNombre" (click)="habilitarEdicion('nombre')">Editar</button>
        
            <!-- Mostrar el input, botón de aceptar y cancelar cuando esté en modo de edición -->
            <input *ngIf="modoEdicionNombre" type="text" [(ngModel)]="datosCliente.nombre" #nombreInput>
            <button *ngIf="modoEdicionNombre" (click)="guardarCambios('nombre')">Aceptar</button>
            <button *ngIf="modoEdicionNombre" (click)="cancelarEdicion('nombre')">Cancelar</button>
        </div>
          

        <div class="nombre">
          <label *ngIf="!modoEdicionApellido">Nombre: {{ datosCliente.apellido }}</label>
          <button *ngIf="!modoEdicionApellido" (click)="habilitarEdicion('apellido')">Editar</button>
      
          <input *ngIf="modoEdicionApellido" type="text" [(ngModel)]="datosCliente.apellido" #nombreInput>
          <button *ngIf="modoEdicionApellido" (click)="guardarCambios('apellido')">Aceptar</button>
          <button *ngIf="modoEdicionApellido" (click)="cancelarEdicion('apellido')">Cancelar</button>
        </div>

        <div *ngIf="!modoEdicionComuna; else modoEdicionTemplate">
          <div class="comuna">
            <ion-label>Comuna</ion-label>
            <ion-input type="text" [value]="datosCliente.comuna" disabled></ion-input>
          </div>
          <button (click)="habilitarEdicion('comuna')">Editar</button>
        </div>
        
        <ng-template #modoEdicionTemplate>
          <div class="comuna">
            <ion-label position="stacked">Comuna</ion-label>
            <ion-select *ngIf="modoEdicionComuna" [(ngModel)]="nombreComunaSeleccionada">
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.nombre">
                {{ comuna.nombre }}
              </ion-select-option>
            </ion-select>
          </div>
          <button (click)="guardarCambios('comuna')">Aceptar</button>
        </ng-template>

          <div *ngIf="editarContrasena">
            <div class="contraseña">
              <ion-label for="password">Contraseña</ion-label>
              <ion-input id="contraseña" [type]="passwordType" [(ngModel)]="contrasenaActual" placeholder="Ingrese su contraseña actual"></ion-input>
              <ion-icon name="eye-outline" class="toggle-password" (click)="togglePassword()"></ion-icon>
            </div>
          
            <div *ngIf="mostrarNuevaContrasena">
              <ion-label for="newPassword">Nueva Contraseña</ion-label>
              <ion-input id="newPassword" [type]="newPasswordType" [(ngModel)]="nuevaContrasena" placeholder="Ingrese su nueva contraseña"></ion-input>
              <ion-icon name="eye-outline" class="toggle-password" (click)="toggleNewPassword()"></ion-icon>
            </div>
          
            <button (click)="guardarCambios('newPassword')">Aceptar</button>
            <button *ngIf="editarContrasena" (click)="cancelarEdicion('contraseña')">Cancelar</button>
          </div>
          <button *ngIf="!editarContrasena" (click)="habilitarEdicion('contraseña')">Editar contraseña</button>

          <ion-button expand="block" color="success" (click)="onConfirmar()" >Confirmar</ion-button>
        </ion-card-content>
      </div>
    </ion-card>
</ion-content>
