<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">

<ion-title>Papel y carton</ion-title>

<ion-card class="info-card">
  <ion-card-content>
    <p>Tanto el cartón como el papel deben reciclarse como bultos apilados, pero 
      estos no pueden estar mojados, de lo contrario se tendría que secar para 
      poder reciclarlos y si alguno de estos tienen aceite no se podrán reciclar</p>
    <ul>

      <li>Cartón corrugado</li>
      <li>Cartulina</li>
      <li>Cajas de embalaje</li>
      <li>Cilindros de papel higienico y nova</li>
      <li>Papel kraft con o sin impresión (ejemplo bolsa de papel del pan)</li>
      <li>Diarios</li>
      <li>Papel con tinta de color</li>
      <li>Boletas y facturas</li>
      <li>Folletos</li>
      <li>Hojas blancas con o sin usar</li>
      <li>Hojas de cuaderno</li>
      <li>LAS REVISTAS NO SE RECICLAN</li>
    
      
      
    </ul>
  </ion-card-content>
</ion-card>

<div class="conjuntocartonpapel">
  <img src="../../assets/images/cartonypapel/conjuntocartonpapel.png" alt="Cartonpapel">
</div>


</ion-content>
