<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nuestros-servicios"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-title>Servicio 1</ion-title>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ul class="service-list">
        <li>Se pagará un monto fijo cada mes por el servicio.</li>
        <li>Se irá al domicilio 2 veces al mes.</li>
        <li>En los días estipulados entre el usuario y el servicio.</li>
        <li>El horario del servicio es de 9 am a 5 pm.</li>
        <li>En caso de que el usuario no esté al momento del servicio de recogida se le avisará que se fue al domicilio y no hubo respuesta.</li>
        <li>El usuario tiene un plazo de 48hrs para reagendar otro servicio de recogida del cual sólo 1 de estos serán de forma gratis.</li>
        <li>En caso de exceder el haber reagendado, el servicio gratuito se realizará un cobro extra.</li>
        <li>En caso de querer cancelar un servicio de recogida de residuos se debe enviar un mail con un plazo mínimo de 3 horas antes de la hora de llegada establecida del trabajador.</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
