ion-header {
  background-color: #FFFFFF !important;
}

ion-toolbar {
  --background: #FFFFFF;
}

ion-back-button{
  color: #000;
}

.background {
  --background: #FFFFFF;
}


ion-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 20px; /* Un pequeño margen superior para dar espacio */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dos columnas de igual tamaño */
  grid-gap: 20px; /* espacio entre los botones */
  padding: 20px; /* espacio alrededor de todo el grid */
  width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
  margin-top: 10px;
}

ion-button {
  --background: transparent;
  --box-shadow: none;
  --border-radius: 0;
  width: 100%; /* ocupa el 100% del espacio de la columna */
  padding: 0; /* quita el padding predeterminado */
}

ion-button img {
  width: 100%; /* hace que la imagen ocupe el 100% del ancho del botón */
  height: auto; /* mantiene la relación de aspecto de la imagen */
}

/* Estilos específicos para los botones que necesitan estar en la segunda fila */
.plasticos, .latas .pilas, .papelcarton .vidrios {
  grid-row: 1; /* Ubica estos botones en la primera fila */
}

/* Estilo para el botón de "Vidrios" que necesita estar solo en su fila */
.vidrios {
  margin-left: 90px;
}

@media (max-width: 600px) {
  .container {
    grid-gap: 10px; /* Menor espacio entre botones para pantallas pequeñas */
    padding: 10px; /* Menor padding alrededor del grid para pantallas pequeñas */
  }
}
