<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-title size="large">Como Reciclar</ion-title>

  <div class="container">

    <ion-button class="plasticos" routerLink="/plasticos">
      <img src="../../assets/images/reciclar/plasticos.png" alt="Plásticos">
    </ion-button>

    <ion-button class="latas" routerLink="/latas">
      <img src="../../assets/images/reciclar/latas.png" alt="Latas">
    </ion-button>

    <ion-button class="pilas" routerLink="/pilas">
      <img src="../../assets/images/reciclar/pilas.png" alt="Pilas">
    </ion-button>

    <ion-button class="papelcarton" routerLink="/papel-carton">
      <img src="../../assets/images/reciclar/cartonypapel.png" alt="Papel y cartón">
    </ion-button>

    <ion-button class="vidrios" routerLink="/vidrios">
      <img src="../../assets/images/reciclar/vidrios.png" alt="Vidrio">
    </ion-button>

  </div>


</ion-content>
